{% extends 'image_sorter/base.html' %}

{% block head %}
    <style>
        body {
            grid-template-rows: auto minmax(0, 1fr);
        }
        #container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto minmax(0, 1fr) auto;
            min-height: 0;
            overflow: hidden;
            min-width: 0;
            height: 100%;
            max-height: 100%;
        }

        #container > h1 {
            grid-column: 1/4;
        }

        #container > .img {
            grid-row: 2;
            grid-column: 1/3;
        }
        .img img {
            max-height: 100%;
            max-width: 100%;
        }

        #container > div {
            grid-row-start: 2;
            grid-column-start: 3;
        }

        @media only screen and (max-width: 600px) {
            #container > .img {
                grid-column: 1/4;
            }

            #container > div {
                grid-row-start: 3;
                grid-column: 1 / 4;
            }

            #container > h1 {
                display: none;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div id="container">
        <h1>Tag Group "{{ tag_group }}" Tagging</h1>
        <div class="img">
            <img id="image-to-tag" src="{% url 'image_sorter:media' the_image %}"/>
        </div>
        <div>
            <p>Which tag best describes the image?</p>
            <div id="tagging-area">
                {% for tag in tags %}
                    <button value="{{ tag.id }}">{{ tag }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
    {% csrf_token %}
    <script>
        const tagButtons = document.querySelectorAll("#tagging-area>button");
        const imageEl = document.querySelector(".img>img");
        let imageId = {{ the_image.id }};

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function disableButtons(){
            for(const tagButton of tagButtons){
                tagButton.removeEventListener('click', tagImage);
                tagButton.disabled = true;
            }
        }

        function enableButtons(){
            for(const tagButton of tagButtons){
                tagButton.addEventListener('click', tagImage);
                tagButton.disabled = false;
            }
        }

        function loadImage(url) {
            return new Promise((resolve, reject) => {
                let img = new Image();
                img.addEventListener('load', e => resolve(img));
                img.addEventListener('error', () => {
                    reject(new Error(`Failed to load image's URL: ${url}`));
                });
                img.src = url;
            });
        }

        function tagImage(event){
            let tagId = event.target.value;
            console.log(tagId);

            const url = "{% url 'image_sorter:tag_image' tag_group %}";
            let post = JSON.stringify({
                image_id: imageId,
                tag_id: parseInt(tagId)
            });

            disableButtons();

            fetch(url, {
                method: 'post',
                body: post,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                }
            }).then((response) => {
                return response.json();
            }).then((res) => {
                imageId = res['next_image']["id"];
                return loadImage(res['next_image']['url']);
            }).then((img) => {
                imageEl.src = img.src;
            }).catch((error) => {
                console.log(error);
            }).finally(() => {
                enableButtons();
            });
        }

        enableButtons();
    </script>
{% endblock %}