<!DOCTYPE html>
<html>
<head>
    <title>Image Sorter</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
    <style>
        html, body, main {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        body {
            display: grid;
            grid-template-rows: auto 1fr;
        }

        header {
            background-color: cadetblue;
            color: white;
        }

        header a {
            text-decoration: none;
            color: white;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
<header>
    <a href="/" style="font-size: xxx-large; font-weight: bolder">Image Sorter</a>
    <a href="{% url 'admin:index' %}">Admin Panel</a>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>