{% extends 'media_manager/base.html' %}


{% block head %}
    <style>
        #container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
        #container>div {
            text-align: center;
            border-radius: 10px;
            padding: 5px;
        }
    </style>
{% endblock %}


{% block content %}
    <h1>Dashboard</h1>
    <div id="container">
        <div>
            <h3>Image Count:</h3>
            <p>{{ image_count }} images</p>
        </div>
        <div>
            <h3>Tag Groups</h3>
            <p>{{ tag_group_count }} tag groups</p>
            <a href="{% url 'media_manager:tag_groups_list' %}">View</a>
        </div>
    </div>
{% endblock %}