{% extends 'media_manager/base.html' %}


{% block head %}
    <style>
        #container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
        #container>div {
            text-align: center;
            border-radius: 10px;
            padding: 5px;
        }
    </style>
{% endblock %}


{% block content %}
    <h1>Dashboard</h1>
    <div id="container">
        <div>
            <h3>Media File Counts:</h3>
            <p>Images:{{ image_count }}</p>
            <p>Videos: {{ video_count }}</p>
            {% if unknown_count > 0 %}
                <p>Unknown: {{ unknown_count }}</p>
            {% endif %}
        </div>
        <div>
            <h3>Tag Groups</h3>
            <p>{{ tag_group_count }} tag groups</p>
            <a href="{% url 'media_manager:tag_groups_list' %}">View</a>
        </div>
    </div>
{% endblock %}