{% extends 'media_manager/../base.html' %}


{% block head %}
    <style>
        #container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
        #container>div {
            text-align: center;
            border-radius: 10px;
            border: 1px solid gray;
            padding: 5px;
            margin: 15px;
            box-shadow: 5px 10px #888888;
        }
    </style>
{% endblock %}


{% block content %}
    <h1>Dashboard</h1>
    <div id="container">
        <div>
            <h3>Media File Counts:</h3>
            <p>Images:{{ image_count }}</p>
            <p>Videos: {{ video_count }}</p>
            {% if unknown_count > 0 %}
                <p>Unknown: {{ unknown_count }}</p>
            {% endif %}
        </div>
        <div>
            <h3>Tags</h3>
            <p>Count: {{ tag_count }}</p>
            <a href="{% url 'media_manager:tag_list' %}">Tag</a>
        </div>
        <div>
            <h3>Similar Images</h3>
            <p>Images To Review: {{ similar_images }}</p>
            <a href="{% url 'media_manager:similar_images' %}">Review</a>
        </div>
    </div>
{% endblock %}