{% extends 'media_manager/base.html' %}


{% block head %}
    <style>
        #container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }

        #container > div {
            text-align: center;
            border-radius: 10px;
            border: 1px solid gray;
            padding: 5px;
            margin: 15px;
            box-shadow: 5px 10px #888888;
        }
    </style>
{% endblock %}


{% block content %}
    <h1>Tags Dashboard</h1>
    <div id="container">
        {% for tag in tags %}
            <div>
                <h3>{{ tag }}</h3>
                <p>Positive: {{ tag.positive_count }}</p>
                <p>Negative: {{ tag.negative_count }}</p>
                <p>Untagged: {{ tag.untagged_count }}</p>
                <a href="{% url 'media_manager:tag_image' tag %}">Tag images</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}